source/Classify/android/gradle/wrapper/gradle-wrapper.properties
source/Classify/android/gradle.properties
source/Classify/pubspec.lock
source/Classify/android/.project
source/Classify/android/.settings/org.eclipse.buildship.core.prefs
source/Classify/android/app/.classpath
source/Classify/android/app/.settings/org.eclipse.buildship.core.prefs
source/Classify/android/app/.project
